{% extends "base.html" %}
{% block title %}Password Reset{% endblock title %}
{% block content %}

<div class="max-w-md mx-auto rounded-lg shadow-lg mt-40 p-3 bg-gray-300">
<h2 class="text-xl font-bold text-center text-black">Forget Password</h2>

<form method="post" class="space-y-6 text-black">
    {% csrf_token %}

    <label for="id_email" class="block font-medium">Email</label>

    <input 
        type="email" 
        name="email" 
        id="id_email"
        class="w-full p-3 text-gray-900 border rounded-lg focus:outline-none focus:ring-indigo-500"
        placeholder="Enter your email"
        required
    >

    <button 
        type="submit" 
        class="w-full bg-yellow-300 rounded-lg p-2 hover:bg-black hover:text-white transition ease-in-out duration-[900ms]"
    >
        Send reset link
    </button>
</form>
</div>

{% endblock content %}

