{% extends "base.html" %}
{% block title %}Passwor reset confirm{% endblock title %}
{% block content %}
<div class="mx-auto bg-gray-300 mt-40 rounded-md shadow-lg max-w-md">
<h2 class="text-center font-bold">Set new Password</h2>
<form method="post" class="space-y-4 mt-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="w-full bg-yellow-400 rounded-md text-white  hover:bg-black transition ease-in-out duration-[900ms]">Reset password</button>
</form>
</div>
{% endblock content %}

