<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-300 text-white">
   <nav class="bg-yellow-500 p-4 text-white">
    {% if user.is_authenticated %}
    <a class="font-semibold mx-10" href="{% url 'home' %}">Home</a>
    <a class="font-semibold mx-4" href="{% url 'transactions_add' %}">Add Transaction</a>
     <a class="font-semibold mx-4" href="{% url 'goals' %}">Feature Goals</a>
    <a class="font-semibold mx-4" href="{% url 'transaction_list' %}">Transactions</a>

    
    <form id= "logout-form" action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <a href="#" onclick="document.getElementById('logout-form').submit();" class="ml-2 font-semibold">Logout</a>
    </form>
    {% else %}
    <a href="{% url 'login' %}" class="ml-4 font-bold">Login</a>
    <a href="{% url 'register' %}" class="ml-4 font-bold">Register</a>
    {% endif %}

   </nav>
    {% block content %}{% endblock content %}
</body>

</html>