{% extends "base.html" %}
{% block title %}Add Transaction{% endblock title %}
{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8 bg-white p-6 rounded-xl shadow-lg ">
        <div>
            <h1 class="text-2xl text-center font-bold text-yellow-500 ">Add New Transaction</h1>
            <p class="mt-2 text-sm text-center text-yellow-600">Record your income or expenses</p>
            <!-- Title -->
            <form class="space-y-3" method="post">

                {% csrf_token %}
                <div class="space-y-2">
                    <label for="title" class="block text-sm text-gray-400 font-medium">
                        Title
                    </label>
                    <input type="text" name="title" id="title" maxlength="100"
                        class="appearance-none text-black w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-yellow-200 focus:ring-2 focus:ring-yellow-200"
                        placeholder="Enter transaction title (e.g., Salary, Rent) " required>
                    {% if form.title.errors %}
                    {% for error in form.title.errors %}
                    <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- amount -->
                <div class="space-y-2">
                    <label for="amount" class="block text-sm text-gray-400 font-medium">
                        Amount
                    </label>
                    <input type="number" name="amount" id="amount" step="0.01"
                        class="appearance-none text-black w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-yellow-200 focus:ring-2 focus:ring-yellow-200"
                        placeholder="Enter Amount (e.g., 100.50) " required>
                    {% if form.amount.errors %}
                    {% for error in form.amount.errors %}
                    <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>

                <!-- transaction_type -->
                <div class="space-y-2">
                    <label for="transaction-type" class="block text-sm text-gray-400 font-medium">
                        Type
                    </label>
                    <select name="transaction_type" id="transaction-type"
                        class="appearance-none text-black w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-yellow-200 focus:ring-2 focus:ring-yellow-200"
                        required>
                        <option value="" disabled selected>Select transaction type</option>
                        <option value="Income">Income</option>
                        <option value="Expense">Expense</option>
                    </select>
                    {% if form.transaction_type.errors %}
                    {% for error in form.transaction_type.errors %}
                    <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>

                <!-- Date -->

                <div class="space-y-2">
                    <label for="date" class="block text-sm text-gray-400 font-medium">
                        Date
                    </label>
                    <input type="date" name="date" id="date" max="{% now 'Y-m-d' %}"
                        class="appearance-none text-black w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-yellow-200 focus:ring-2 focus:ring-yellow-200"
                        required>
                    {% if form.date.errors %}
                    {% for error in form.date.errors %}
                    <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>

                <!-- Category -->
                <div class="space-y-2">
                    <label for="category" class="block text-sm text-gray-400 font-medium">
                        Category
                    </label>
                    <input type="text" name="category" id="category" maxlength="50"
                        class="appearance-none text-black w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-yellow-200 focus:ring-2 focus:ring-yellow-200"
                        placeholder="Enter your category (e.g., food, Rent)" required>
                    {% if form.category.errors %}
                    {% for error in form.category.errors %}
                    <p class="mt-1 text-sm text-red-600">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>

                <button
                    class="w-full text-white bg-yellow-300 mt-3  hover:bg-black font-bold py-3 rounded-lg transtion ease-out duration-[900ms]">Submit</button>

            </form>
        </div>

        <div class="text-center">
            <a href="{% url 'home' %}"
                class="text-sm text-indigo-600 hover:text-indigo-400 hover:underline transition duration-150 ease-in-out">Back
                to Home</a>
        </div>

    </div>

</div>
{% endblock content %}