{% extends "base.html" %}
{% block title %}Transaction List{% endblock title %}
{% block content %}
<h1 class="font-bold text-3xl text-center mb-3 mt-3 text-white">Transaction List</h1>
<table class="min-w-full table-auto border-collapse border border-gray-300">
    <thead>
        <tr class="bg-gray-400">
            <th class="px-4 border border-yellow-300">Date</th>
            <th class="px-4 border border-yellow-300">Title</th>
            <th class="px-4 border border-yellow-300">Amount</th>
            <th class="px-4 border border-yellow-300">Type</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in trans %}
        <tr class="bg-white hover:bg-gray-100 text-black">
            <td class="px-4 py-2 border border-yellow-300">{{transaction.date}}</td>
            <td class="px-4 py-2 border border-yellow-300">{{transaction.title}}</td>
            <td class="px-4 py-2 border border-yellow-300"> {{transaction.amount|floatformat:2}}</td>
            <td class="px-4 py-2 border border-yellow-300">
                {% if transaction_type == 'Income' %}
                Credit
                {% else %}
                Debit
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}